@{
    ViewBag.Title = "Help Page";
}

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Come here for help . . . 
        </p>
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
    </div>
</div>