@{
    ViewBag.Title = "Help Page";
}

<div class=WordSection1>

    <p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal;mso-outline-level:2;background:white'>
        <b>
            <span style='font-size:18.0pt;font-family:"Helvetica","sans-serif";mso-fareast-font-family:
"Times New Roman";color:black'>Search</span>
        </b><b>
            <span style='font-size:18.0pt;
font-family:"Times New Roman","serif";mso-fareast-font-family:"Times New Roman";
color:black'><o:p></o:p></span>
        </b>
    </p>

    <p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:11.25pt;
margin-left:.25in;text-indent:-.25in;line-height:normal;background:white'>
        <span style='font-size:10.0pt;font-family:Symbol;mso-fareast-font-family:"Times New Roman";
mso-bidi-font-family:Calibri;color:#212121'>·</span><span style='font-size:
7.0pt;font-family:"Times New Roman","serif";mso-fareast-font-family:"Times New Roman";
color:#212121'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style='font-family:"Helvetica","sans-serif";mso-fareast-font-family:"Times New Roman";
color:#212121'>Search by keyword<o:p></o:p></span>
    </p>

    <p class=MsoNormal style='margin-bottom:11.25pt;line-height:normal;background:
white'>
        <span style='font-family:"Helvetica","sans-serif";mso-fareast-font-family:
"Times New Roman";color:#212121'>
            In the text box, type the words you wish to
            search YouTube by.<span style='mso-spacerun:yes'>  </span>For instance, type
            “Scott Hanselman” without the quotes.<span style='mso-spacerun:yes'>
            </span>Click the Search button.<span style='mso-spacerun:yes'>   </span>A list
            of videos pertaining to your search criteria will be displayed in the grid.
        </span><span style='mso-ascii-font-family:Calibri;mso-fareast-font-family:"Times New Roman";
mso-hansi-font-family:Calibri;mso-bidi-font-family:Calibri;color:#212121'><o:p></o:p></span>
    </p>

    <p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:11.25pt;
margin-left:.25in;text-indent:-.25in;line-height:normal;background:white'>
        <span style='font-size:10.0pt;font-family:Symbol;mso-fareast-font-family:"Times New Roman";
mso-bidi-font-family:Calibri;color:#212121'>·</span><span style='font-size:
7.0pt;font-family:"Times New Roman","serif";mso-fareast-font-family:"Times New Roman";
color:#212121'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style='font-family:"Helvetica","sans-serif";mso-fareast-font-family:"Times New Roman";
color:#212121'>Sort by date, rating and relevance<o:p></o:p></span>
    </p>

    <p class=MsoNormal style='margin-bottom:11.25pt;line-height:normal;background:
white'>
        <span style='font-family:"Helvetica","sans-serif";mso-fareast-font-family:
"Times New Roman";color:#212121'>
            The grid that is displayed with your search
            results may be sorted by any column.<span style='mso-spacerun:yes'>
            </span>Click on the column header to sort all records by the values in that
            column.<span style='mso-spacerun:yes'>  </span>Click the column header again to
            reverse the sort.<span style='mso-spacerun:yes'>  </span>The first column,
            named “Num”, is the search relevance.<span style='mso-spacerun:yes'>
            </span>The video with the most perfect match to the search criteria will show
            first; the video with the least perfect match will be last.<span style='mso-spacerun:yes'></span>Use the text box above the column headers,
            labeled “Search: “ to narrow the search results to what you type in the box,
            immediately, as you type it.<span style='mso-spacerun:yes'>   </span>You may
            click the blue links in the lower right corner for the first page, last page,
            or any number of page in the search results.<span style='mso-spacerun:yes'>
            </span>In the search results, you may click the link “Fave it” to add the video
            to your favorites.<span style='mso-spacerun:yes'>  </span>You may click the
            link “View” to view the video, in youtube.com, in a new browser tab.
        </span><span style='mso-ascii-font-family:Calibri;mso-fareast-font-family:"Times New Roman";
mso-hansi-font-family:Calibri;mso-bidi-font-family:Calibri;color:#212121'><o:p></o:p></span>
    </p>

    <p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal;mso-outline-level:2;background:white'>
        <b>
            <span style='font-size:18.0pt;font-family:"Helvetica","sans-serif";mso-fareast-font-family:
"Times New Roman";color:black'>Video Details</span>
        </b><b>
            <span style='font-size:18.0pt;font-family:"Times New Roman","serif";mso-fareast-font-family:
"Times New Roman";color:black'><o:p></o:p></span>
        </b>
    </p>

    <p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:11.25pt;
margin-left:.25in;text-indent:-.25in;line-height:normal;background:white'>
        <span style='font-size:10.0pt;font-family:Symbol;mso-fareast-font-family:"Times New Roman";
mso-bidi-font-family:Calibri;color:#212121'>·</span><span style='font-size:
7.0pt;font-family:"Times New Roman","serif";mso-fareast-font-family:"Times New Roman";
color:#212121'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style='font-family:"Helvetica","sans-serif";mso-fareast-font-family:"Times New Roman";
color:#212121'>Video player<o:p></o:p></span>
    </p>

    <p class=MsoNormal style='margin-bottom:11.25pt;line-height:normal;background:
white'>
        <span style='font-family:"Helvetica","sans-serif";mso-fareast-font-family:
"Times New Roman";color:#212121'>
            On the bottom of the Details page is a small
            window that plays the selected video.<span style='mso-spacerun:yes'>  </span>
        </span><span style='mso-ascii-font-family:Calibri;mso-fareast-font-family:"Times New Roman";
mso-hansi-font-family:Calibri;mso-bidi-font-family:Calibri;color:#212121'><o:p></o:p></span>
    </p>

    <p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:11.25pt;
margin-left:.25in;text-indent:-.25in;line-height:normal;background:white'>
        <span style='font-size:10.0pt;font-family:Symbol;mso-fareast-font-family:"Times New Roman";
mso-bidi-font-family:Calibri;color:#212121'>·</span><span style='font-size:
7.0pt;font-family:"Times New Roman","serif";mso-fareast-font-family:"Times New Roman";
color:#212121'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style='font-family:"Helvetica","sans-serif";mso-fareast-font-family:"Times New Roman";
color:#212121'>Meta information like comments, likes, dislikes, channel<o:p></o:p></span>
    </p>

    <p class=MsoNormal style='margin-bottom:11.25pt;line-height:normal;background:
white'>
        <span style='font-family:"Helvetica","sans-serif";mso-fareast-font-family:
"Times New Roman";color:#212121'>
            All of the data displayed on the Search page will
            be displayed, with the same look and feel, on top of the Details page. Clicking
            the “View” link will merely re-display this selected video on this page.<span style='mso-spacerun:yes'></span>Click the “Remove” link to remove the video
            from your list of favorites.<span style='mso-spacerun:yes'>  </span>Note:
            Though the look and feel is the same as the Search page, the searching,
            sorting, and paging functionality is redundant, because only one record is
            displayed here.<span style='mso-spacerun:yes'>  </span>
        </span><span style='mso-ascii-font-family:Calibri;mso-fareast-font-family:"Times New Roman";
mso-hansi-font-family:Calibri;mso-bidi-font-family:Calibri;color:#212121'><o:p></o:p></span>
    </p>

    <p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:11.25pt;
margin-left:.25in;text-indent:-.25in;line-height:normal;background:white'>
        <span style='font-size:10.0pt;font-family:Symbol;mso-fareast-font-family:"Times New Roman";
mso-bidi-font-family:Calibri;color:#212121'>·</span><span style='font-size:
7.0pt;font-family:"Times New Roman","serif";mso-fareast-font-family:"Times New Roman";
color:#212121'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style='font-family:"Helvetica","sans-serif";mso-fareast-font-family:"Times New Roman";
color:#212121'>Ability to add/remove from favorites (see below)</span><span style='mso-ascii-font-family:Calibri;mso-fareast-font-family:"Times New Roman";
mso-hansi-font-family:Calibri;mso-bidi-font-family:Calibri;color:#212121'><o:p></o:p></span>
    </p>

    <p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal;mso-outline-level:2;background:white'>
        <b>
            <span style='font-size:18.0pt;font-family:"Helvetica","sans-serif";mso-fareast-font-family:
"Times New Roman";color:black'>Favorite Videos</span>
        </b><b>
            <span style='font-size:18.0pt;font-family:"Times New Roman","serif";mso-fareast-font-family:
"Times New Roman";color:black'><o:p></o:p></span>
        </b>
    </p>

    <p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:11.25pt;
margin-left:.25in;text-indent:-.25in;line-height:normal;background:white'>
        <span style='font-size:10.0pt;font-family:Symbol;mso-fareast-font-family:"Times New Roman";
mso-bidi-font-family:Calibri;color:#212121'>·</span><span style='font-size:
7.0pt;font-family:"Times New Roman","serif";mso-fareast-font-family:"Times New Roman";
color:#212121'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style='font-family:"Helvetica","sans-serif";mso-fareast-font-family:"Times New Roman";
color:#212121'>The list of videos the user has favorited</span><span style='font-size:12.0pt;font-family:"Times New Roman","serif";mso-fareast-font-family:
"Times New Roman";color:#212121'><o:p></o:p></span>
    </p>

    <p class=MsoNormal style='margin-bottom:11.25pt;line-height:normal;background:
white'>
        With the same look and feel of the Search page, all videos you have
        saved as favorite will be displayed here.<span style='mso-spacerun:yes'>
        </span><span style='font-family:"Helvetica","sans-serif";mso-fareast-font-family:
"Times New Roman";color:#212121'>
            Use the text box above the column headers,
            labeled “Search: “ to narrow the search results to what you type in the box,
            immediately, as you type it.<span style='mso-spacerun:yes'>   </span>You may
            click the blue links in the lower right corner for the first page, last page,
            or any number of page in the search results.<span style='mso-spacerun:yes'>
            </span>In the search results, you may click the link “Fave it” to add the video
            to your favorites.<span style='mso-spacerun:yes'>  </span>You may click the
            link “View” to view the video, in youtube.com, in a new browser tab.
        </span><span style='mso-ascii-font-family:Calibri;mso-fareast-font-family:"Times New Roman";
mso-hansi-font-family:Calibri;mso-bidi-font-family:Calibri;color:#212121'><o:p></o:p></span>
    </p>

    <p class=MsoNormal><o:p>&nbsp;</o:p></p>

</div>
