@{
    ViewBag.Title = "Help Page";
}

<div class="row">
    <div class=WordSection1>

        <p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal;mso-outline-level:2;background:white'>
            <b>
                <span style='font-size:18.0pt;font-family:"Helvetica","sans-serif";mso-fareast-font-family:
"Times New Roman";color:black'>Search</span>
            </b><b>
                <span style='font-size:18.0pt;
font-family:"Times New Roman","serif";mso-fareast-font-family:"Times New Roman";
color:black'><o:p></o:p></span>
            </b>
        </p>

        <p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:11.25pt;
margin-left:.25in;text-indent:-.25in;line-height:normal;background:white'>
            <span style='font-size:10.0pt;font-family:Symbol;mso-fareast-font-family:"Times New Roman";
mso-bidi-font-family:Calibri;color:#212121'>·</span><span style='font-size:
7.0pt;font-family:"Times New Roman","serif";mso-fareast-font-family:"Times New Roman";
color:#212121'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style='font-family:"Helvetica","sans-serif";mso-fareast-font-family:"Times New Roman";
color:#212121'>Search by keyword</span><span style='mso-ascii-font-family:Calibri;
mso-fareast-font-family:"Times New Roman";mso-hansi-font-family:Calibri;
mso-bidi-font-family:Calibri;color:#212121'><o:p></o:p></span>
        </p>

        <p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:11.25pt;
margin-left:.25in;text-indent:-.25in;line-height:normal;background:white'>
            <span style='font-size:10.0pt;font-family:Symbol;mso-fareast-font-family:"Times New Roman";
mso-bidi-font-family:Calibri;color:#212121'>·</span><span style='font-size:
7.0pt;font-family:"Times New Roman","serif";mso-fareast-font-family:"Times New Roman";
color:#212121'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style='font-family:"Helvetica","sans-serif";mso-fareast-font-family:"Times New Roman";
color:#212121'>Sort by date, rating and relevance</span><span style='mso-ascii-font-family:
Calibri;mso-fareast-font-family:"Times New Roman";mso-hansi-font-family:Calibri;
mso-bidi-font-family:Calibri;color:#212121'><o:p></o:p></span>
        </p>

        <p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal;mso-outline-level:2;background:white'>
            <b>
                <span style='font-size:18.0pt;font-family:"Helvetica","sans-serif";mso-fareast-font-family:
"Times New Roman";color:black'>Video Details</span>
            </b><b>
                <span style='font-size:18.0pt;font-family:"Times New Roman","serif";mso-fareast-font-family:
"Times New Roman";color:black'><o:p></o:p></span>
            </b>
        </p>

        <p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:11.25pt;
margin-left:.25in;text-indent:-.25in;line-height:normal;background:white'>
            <span style='font-size:10.0pt;font-family:Symbol;mso-fareast-font-family:"Times New Roman";
mso-bidi-font-family:Calibri;color:#212121'>·</span><span style='font-size:
7.0pt;font-family:"Times New Roman","serif";mso-fareast-font-family:"Times New Roman";
color:#212121'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style='font-family:"Helvetica","sans-serif";mso-fareast-font-family:"Times New Roman";
color:#212121'>Video player</span><span style='mso-ascii-font-family:Calibri;
mso-fareast-font-family:"Times New Roman";mso-hansi-font-family:Calibri;
mso-bidi-font-family:Calibri;color:#212121'><o:p></o:p></span>
        </p>

        <p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:11.25pt;
margin-left:.25in;text-indent:-.25in;line-height:normal;background:white'>
            <span style='font-size:10.0pt;font-family:Symbol;mso-fareast-font-family:"Times New Roman";
mso-bidi-font-family:Calibri;color:#212121'>·</span><span style='font-size:
7.0pt;font-family:"Times New Roman","serif";mso-fareast-font-family:"Times New Roman";
color:#212121'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style='font-family:"Helvetica","sans-serif";mso-fareast-font-family:"Times New Roman";
color:#212121'>Meta information like comments, likes, dislikes, channel</span><span style='mso-ascii-font-family:Calibri;mso-fareast-font-family:"Times New Roman";
mso-hansi-font-family:Calibri;mso-bidi-font-family:Calibri;color:#212121'><o:p></o:p></span>
        </p>

        <p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:11.25pt;
margin-left:.25in;text-indent:-.25in;line-height:normal;background:white'>
            <span style='font-size:10.0pt;font-family:Symbol;mso-fareast-font-family:"Times New Roman";
mso-bidi-font-family:Calibri;color:#212121'>·</span><span style='font-size:
7.0pt;font-family:"Times New Roman","serif";mso-fareast-font-family:"Times New Roman";
color:#212121'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style='font-family:"Helvetica","sans-serif";mso-fareast-font-family:"Times New Roman";
color:#212121'>Ability to add/remove from favorites (see below)</span><span style='mso-ascii-font-family:Calibri;mso-fareast-font-family:"Times New Roman";
mso-hansi-font-family:Calibri;mso-bidi-font-family:Calibri;color:#212121'><o:p></o:p></span>
        </p>

        <p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal;mso-outline-level:2;background:white'>
            <b>
                <span style='font-size:18.0pt;font-family:"Helvetica","sans-serif";mso-fareast-font-family:
"Times New Roman";color:black'>Favorite Videos</span>
            </b><b>
                <span style='font-size:18.0pt;font-family:"Times New Roman","serif";mso-fareast-font-family:
"Times New Roman";color:black'><o:p></o:p></span>
            </b>
        </p>

        <p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:11.25pt;
margin-left:.25in;text-indent:-.25in;line-height:normal;background:white'>
            <span style='font-size:10.0pt;font-family:Symbol;mso-fareast-font-family:"Times New Roman";
mso-bidi-font-family:Calibri;color:#212121'>·</span><span style='font-size:
7.0pt;font-family:"Times New Roman","serif";mso-fareast-font-family:"Times New Roman";
color:#212121'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style='font-family:"Helvetica","sans-serif";mso-fareast-font-family:"Times New Roman";
color:#212121'>The list of videos the user has favorited</span><span style='font-size:12.0pt;font-family:"Times New Roman","serif";mso-fareast-font-family:
"Times New Roman";color:#212121'><o:p></o:p></span>
        </p>

        <p class=MsoNormal><o:p>&nbsp;</o:p></p>

    </div>
</div>