@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>My You Tube</h1>
    <p class="lead">Make a list; check it twice. Save some you tube videos.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Help</h2>
        <p>
            Create, read, update, delete. 
        </p>
        <p>@Html.ActionLink("Help", "Help", "Home")</p>
    </div>
    <div class="col-md-4">
        <h2>Favorites</h2>
        <p>
            List and search your favorites 
        </p>
        <p>@Html.ActionLink("Favorites", "Favorites", "Home")</p>
        <p>@Html.ActionLink("Search", "Search", "Home")</p>
    </div>
    <div class="col-md-4">
        <h2>Details</h2>
        <p>
            Details on a specific one
        </p>
        <p>@Html.ActionLink("Details", "Details", "Home")</p>
    </div>
</div>