@{
    ViewBag.Title = "Search";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>
<script src="~/Scripts/client.js?onload=init"></script>
<script src="~/Scripts/jquery-1.12.4.js"></script>
<script src="~/Scripts/search.js"></script>
<link href="~/Content/jquery.dataTables.min.css" rel="stylesheet" />

<div id="searcher">
    <form action="#">
        <p><input type="text" id="searchstring" width="100" />
        <input type="submit" value="Go get it, lycos!" /></p>
    </form>
</div>

<div id="searchresults"></div>
